@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&family=Noto+Sans+KR:wght@100..900&display=swap');


.picture{
    align-items: center;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.down {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 22px;
    font-family : 'Noto Sans KR', sans-serif;
    font-weight: 600;
}
.box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.border > p {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    color: gray;
}

.border {
    border: 3px solid #4488f5;
    border-radius: 20px;
    width: 560px;
}

.video {
    align-items: center;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.explan{
    font-size: 36px;
    margin-bottom: 8px;
}
main {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;  
}